@import "normalize";
@import "warsjawa-globals";
@import "warsjawa-fonts";
@import "foundation/settings";
@import "foundation";
@import "csshake/csshake";

.blue-section {
  background: $warsjawa-blue;
  &, h1, h2, h3, h4, h5, h6 {
    color: $warsjawa-beige;
  }
}

.beige-section {
  background: $warsjawa-beige;
  &, h1, h2, h3, h4, h5, h6 {
    color: $warsjawa-blue;
  }
}

section {
  padding: 2rem 0 2rem 0;

  .content-column {
    @extend .small-12;
    @extend .columns;

    .columnable {
      @media #{$medium-up}{
        column-count: 2;
        column-gap: 2rem;
        -moz-column-count: 2;
        -moz-column-gap: 2rem;
        -webkit-column-count: 2;
        -webkit-column-gap: 2rem;
      }
    }
  }
}

section#header {
  @extend .blue-section;

  h1 {
    display: inline-block;
    font-family: $font-museo-500;
    font-weight: 500;
    line-height: 1;

    span {
      @extend .show-for-large-up;
      display: inline-block;
      padding: 0 1rem 0 1rem;
    }

    br {
      @extend .show-for-small-only;
    }
  }

  hr {
    border-width: 2px 0 0;
    margin: 0 auto 2rem auto;
    @media #{$small-only} {
      width: 2.5*$h1-font-size;
    }
    @media #{$medium-only}{
      width: 5.5*$h1-font-size;
    }
    @media #{$large-up}{
      width: 6.3*$h1-font-size;
    }
  }

  img {
    width: auto;
    height: $h1-font-size;
    margin: 1rem 0 2rem 0;
  }

  .icon-and-header-wrapper {
    display: inline-block;
    width: 100%;
  }

  i {
    @extend .show-for-medium-up;
    padding: 0 1rem 0 0;
    margin: 0;
    vertical-align: middle;
    font-size: 3rem;
  }

  h5 {
    padding: 0 0 0 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;

    &.date {
      @media #{$small-only} {
        padding-bottom: 0.2*$h5-font-size;
      }
      @media #{$medium-up} {
        padding-top: 0.2*$h5-font-size;
      }
    }
  }
}

section#map {
  position: relative;
  padding: 0;
  background: $warsjawa-gray;

  iframe {
    width: 100%;
    height: 100%;
  }

  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -ms-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;

  @media #{$small-only} {
    height: 0;
    &.opened {
      height: 10rem;
    }
  }
  @media #{$medium-up} {
    height: 20rem;
  }

  iframe.desktop {
    @extend .show-for-medium-up;
    width: 100%;
    height: 20rem;
    border: 0;
  }

  iframe.mobile {
    $map-height: 10rem;
    position: absolute;
    top: -$map-height;
    width: 100%;
    height: $map-height;
    border: 0;
  }
}

section#hello-jar {
  @extend .blue-section;

  span {
    display: block;
  }
}

section#about {
  @extend .beige-section;

  span {
    display: block;
  }
}

section#enroll {
  @extend .blue-section;

  span {
    display: block;
  }
}

section#speakers {
  @extend .beige-section;
  padding-bottom: 0;

  ul {
    margin: 0;
    li {
      padding: 0;
      position: relative;

      span {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba($warsjawa-blue, 0.7);
        color: #ffffff;
        padding: 0.4rem;
        line-height: 1;
        font-size: $small-font-size;
      }

      &.placeholder {
        .logo {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 36%;
        }
      }
    }
  }
}

section#agenda {
  @extend .blue-section;
  padding-bottom: 6rem;
}

section#sponsors {
  @extend .beige-section;
  padding-bottom: 6rem;
}

section#contact {
  @extend .blue-section;

  .duke-in-the-jar {
    $jar-height: 4rem;

    position: relative;
    height: $jar-height;
    margin: 1rem 0 2rem 0;

    img {
      position: absolute;
      width: auto;
      height: 4rem;
      left: 0;
      right: 0;
      margin: 0 auto 0 auto;
    }

    .shaking-duke {
      @extend .shake;
      @extend .shake-constant;
    }
  }

  ul {
    margin: 0;
    list-style: none;

    &.social-icons {
      font-size: 4rem;
      a {
        color: #ffffff;
      }
    }

    li {
      color: $warsjawa-gray;

    }
  }
}

#media-query-breakpoints {
  .small {
    @extend .show-for-small-only;
  }
  .medium {
    @extend .show-for-medium-only;
  }
  .large {
    @extend .show-for-large-up;
  }
}