<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--[if IE]><link rel="stylesheet" type="text/css" href="/css/ie.css"/><![endif]-->
    <title>Warsjawa 2014{% if page.title %} - {{page.title}}{% endif %} </title>
</head>
<body class="blue">

<div class="container">
    <div class="row">
        <div class="span12 text-center">
            {% if page.locale == 'pl' %}
            <span style="font-weight: bold;">pl</span>
            <a href="/en/">en</a>
            {% endif %}
            {% if page.locale == 'en' %}
            <span style="font-weight: bold;">en</span>
            <a href="/">pl</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="span12 pagination-centered">
            <img src="/img/warsjawa.png" />
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            <h1 id="logo">wARSJAwA</h1>

            <p>
                {{ site.locales[page.locale].time_and_place }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span12 text-center">
            <p>
                <span>{{ site.locales[page.locale].time_left }}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <!-- COUNTDOWN code generated in main.js -->
        <div id="count">
            <div class="span12 text-center">
                <ul class="inline">
                    <li><div class='numbers'>%{d}<span>{{site.locales[page.locale].days}}</span></div></li>
                    <li><div class='numbers'>%{h}<span>{{site.locales[page.locale].hours}}</span></div></li>
                    <li><div class='numbers'>%{m}<span>{{site.locales[page.locale].minutes}}</span></div></li>
                    <li><div class='numbers'>%{s}<span>{{site.locales[page.locale].seconds}}</span></div></li>
                </ul>
            </div>
        </div>
    </div>

<!--     <div class="row text-center">
        <div class="span12 text-center">
            <form method="GET"
                  action="https://groups.google.com/forum/#!forum/warsjawa-2014-announce/join"
                  target="_blank">
                <div id="subscribe-form">
                    <input id="mail-input" placeholder="{{site.locales[page.locale].subscribe_email}}" type="text"
                           name="email"/>
                    <input id="mail-submit" type="submit" value="{{site.locales[page.locale].subscribe_button}}" name="Submit"/>
                </div>
            </form>
        </div>
    </div> -->

    <div class="row">
        <div class="span12 text-center">
            <span>{{ site.locales[page.locale].join_sponsors }}: <a href="mailto:warsjawa-2014@googlegroups.com" target="_blank">warsjawa-2014@googlegroups.com</a></span>
        </div>
    </div>

    <div id="social" class="row">
        <div class="span4 offset4 text-center">
            <p>
                <a href="https://twitter.com/warsjawa" id="s-twitter"></a>
                <a href="https://www.facebook.com/warsjawa" id="s-facebook"></a>
                <a href="https://plus.google.com/108758878245006159088" rel="publisher" id="s-google"></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span12 text-center">
            <h3>{{ site.locales[page.locale].served_by }}:</h3>
            <div class="row">
                <div class="span3">Adam Chudzik</div>
                <div class="span3">Agnieszka Skiba</div>
                <div class="span3">Kamil Szymański</div>
                <div class="span3">Krzystof Siejkowski</div>
                <div class="span3">Maciek Opała</div>
                <div class="span3">Michał Lewandowski</div>
                <div class="span3">Tomasz Netczuk</div>
                <div class="span3">Wojtek Erbetowski</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12 text-center">
            <p>
                <a href="http://2013.warsjawa.pl">{{ site.locales[page.locale].prev_edition }}</a>
            </p>
        </div>
    </div>
</div>

<script src="/script/bootstrap.js"></script>
<script src="/script/jquery.min.js" type="text/javascript"></script>
<script src="/script/jcountdown.min.js" type="text/javascript"></script>
<script src="/script/main.js" type="text/javascript"></script>
<script src="/script/ganal.js" type="text/javascript"></script>

</body>
</html>
