<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->


<head>
    <script src="javascripts/vendor/modernizr.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">

    <link rel="stylesheet" href="stylesheets/warsjawa.css">

    {% include "favicons.html" %}
    {% include "seo-header.html" %}
</head>


<body>

<section id="call-for-papers-header">
    <div class="row">
        <div class="small-12 columns text-center">
            <h1><span class="dot">&middot;</span>WARS<br/>JAWA<span class="dot">&middot;</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Call for papers form</h3>
        </div>
    </div>
</section>

<section id="call-for-papers-content">
<div class="row">
    <div class="small-12 columns text-center">
        <script type="text/javascript">
            var submitted = false;
        </script>
        <iframe
                name="hidden_iframe"
                id="hidden_iframe"
                style="display:none;"
                onload="if(submitted){window.location='/thank-you-for-filling-call-for-papers-form';}">
        </iframe>
        <form action="https://docs.google.com/forms/d/1Z3NyfOseazLwZNRo8Mk7dpD6Wxdws3fsUYAI7hzu2H0/formResponse"
              method="post"
              target="hidden_iframe"
              onsubmit="
                  submitted=true;">

            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_1831453402">
                            Workshop's title* (Name it wisely, most attendees won't even bother to read the
                            description)
                            <input type="text"
                                   name="entry.1831453402"
                                   value=""
                                   class="ss-q-short"
                                   id="entry_1831453402"
                                   dir="auto"
                                   aria-label="Workshop's title Name it wisely, most attendees won't even bother to read the description "
                                   aria-required="true"
                                   required=""
                                   title=""
                                   style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                        </label>

                        <div class="error-message"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_1337560567">
                            Couple of words for Programme Committee (What's it about? Why should we pick you?
                            [This will not be displayed anywhere])
                            <textarea name="entry.1337560567"
                                      rows="6"
                                      cols="0"
                                      class="ss-q-long"
                                      id="entry_1337560567"
                                      dir="auto"
                                      aria-label="Couple of words for Programme Committee What's it about? Why should we pick you? [This will not be displayed anywhere] "
                                      aria-required="true"
                                      required=""></textarea>
                        </label>

                        <div class="error-message"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_419223277">
                            Your name* (Or comma-separated names if more than one)
                            <input type="text"
                                   name="entry.419223277"
                                   value=""
                                   class="ss-q-short"
                                   id="entry_419223277"
                                   dir="auto"
                                   aria-label="Your name Or comma-separated names if more than one "
                                   aria-required="true"
                                   required=""
                                   title="">
                        </label>

                        <div class="error-message"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_1808987270">
                            E-mail addresses* (of all presenters)
                            <input type="text"
                                   name="entry.1808987270"
                                   value=""
                                   class="ss-q-short"
                                   id="entry_1808987270"
                                   dir="auto"
                                   aria-label="E-mail addresses of all presenters "
                                   aria-required="true"
                                   required=""
                                   title="">
                        </label>

                        <div class="error-message"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="draftResponse" value="[,,&quot;-3507805730912485598&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="-3507805730912485598">

            <div class="ss-item ss-navigate">
                <input class="small-12 columns button" type="submit" name="submit" value="Prześlij" id="ss-submit">
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="content-column">
        <h3>Frequently Asked Questions</h3>

        <dl class="accordion" data-accordion="accordion">
            <dd class="accordion-navigation">
                <a href="#panel1">When c4p ends?</a>

                <div id="panel1" class="content columnable">
                    <p>
                        We do not have a hard deadline. Applications are accepted on an ongoing basis.
                    </p>

                    <p>
                        If we thing that your workshop is cool, you will get a confirmation of acceptance. If
                        somebody proposed a similar workshop or we do not have enough rooms, we will have to reject
                        you proposal.
                    </p>

                    <p>
                        We encourage you to enter c4p as soon as possible!
                    </p>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel2">How long is the workshop?</a>

                <div id="panel2" class="content columnable">
                    <p>
                        One workshop lasts 3 hours. If you have a topic or presentation that does not fill three
                        hours, then we can offer you 1.5 hours. We prefer, however, three-hour workshop.
                    </p>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel3">Can I speak on Friday or Saturday?</a>

                <div id="panel3" class="content columnable">
                    <p>
                        We frame an agenda, when we receive enough workshops on the given subject. If you care for a
                        specific day - mark this in c4p or contact us directly.
                    </p>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel4"> What is the scope of the workshops?</a>

                <div id="panel4" class="content columnable">
                    <p>
                        We are going to do 32 parallel thematic paths. Draft (which may still change depending on
                        the supply of workshops) is as follows:
                    </p>
                    <ul>
                        <li>2 paths iOS</li>
                        <li>3 paths Android</li>
                        <li>2 tracks DevOps / Cloud</li>
                        <li>2 paths Terminal / Tools</li>
                        <li>2 Agile Path</li>
                        <li>2 tracks Scala</li>
                        <li>3 Java path</li>
                        <li>1 track GameDev</li>
                        <li>2 tracks Groovy</li>
                        <li>3 tracks Python</li>
                        <li>2-track monitoring / Scalability / Performance</li>
                        <li>3 Path JavaScript</li>
                        <li>3 tracks Ruby</li>
                        <li>2 paths Hardware</li>
                    </ul>
                    <p>
                        You can submit a workshop in each of the above topics.
                    </p>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel5">In what language should I speak in a workshop?</a>

                <div id="panel5" class="content columnable">
                    <p>
                        You can speak in Polish or English. It would be best if you were able to run in English, if only
                        one of the participants ask for it. However, if you do not feel up to do this in English, that's
                        OK too. There is no difference to us, but please note the language in the description of the
                        workshop. You do not want to unpleasantly surprise your participants.
                    </p>
                </div>
            </dd>
        </dl>

    </div>
</div>
</section>


<script type="text/javascript">
    function downloadJSAtOnload() {
        var element = document.createElement('script');
        element.src = 'javascripts/defer-call-for-papers.js';
        document.body.appendChild(element);
    }
    if (window.addEventListener) {
        window.addEventListener('load', downloadJSAtOnload, false);
    } else if (window.attachEvent) {
        window.attachEvent('onload', downloadJSAtOnload);
    } else {
        window.onload = downloadJSAtOnload;
    }


</script>


</body>


</html>




